@use 'base';

%card {
  width: 240px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

%content {
  color: base.$gray;
  .image {
    margin: 1rem;
    height: 5rem;
  }

  .text {
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 1rem;
  }
}

.activity {
  padding: 3rem 7rem;
  text-align: center;

  .activity-title {
    padding: 1.2rem;
    font-weight: 500;
    font-size: 2.4rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: base.$gray;
  }
  .cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;

    .card1 {
      @extend %card;
      .content1 {
        @extend %content;
      }
    }

    .card2 {
      @extend %card;

      .content2 {
        @extend %content;
      }
    }

    .card3 {
      @extend %card;

      .content3 {
        @extend %content;
      }
    }
  }
}
