// .icon {
//   width: 300px;
//   background-color: aquamarine;
//   height: 300px;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
// }

.icon-text {
  width: 300px;
  background-color: aquamarine;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
