@use 'base';

@mixin for-phone {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tab {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin for-tab-lg {
  @media (max-width: 900px) {
    @content;
  }
}

@mixin for-desktop {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin for-desktop-lg {
  @media (max-width: 1500px) {
    @content;
  }
}

%work {
  width: 300px;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0.5rem;
  cursor: pointer;
}

%title {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem;

  p {
    width: 100%;
    height: 100%;
    border: 3px solid base.$white;
    color: base.$white;
    padding: 1rem;
    font-weight: 400;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 700;
  }
}

.portfolio {
  padding: 4rem;

  @include for-desktop {
    padding: 3rem;
  }

  @include for-tab-lg {
    padding: 2rem;
  }

  @include for-tab {
    padding: 1rem;
  }

  .title {
    color: base.$gray;
    padding-bottom: 2rem;
    font-weight: 700;
    font-size: 2.4rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
  }
  .works {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .work1 {
      @extend %work;
      background-image: url('/assets/portfolio/work1.jpg');

      .title1 {
        @extend %title;
      }
    }
    .work2 {
      @extend %work;
      background-image: url('/assets/portfolio/work2.jpg');

      .title2 {
        @extend %title;
      }
    }
    .work3 {
      @extend %work;
      background-image: url('/assets/portfolio/work3.jpg');

      .title3 {
        @extend %title;
      }
    }
    .work4 {
      @extend %work;
      background-image: url('/assets/portfolio/work4.jpg');

      .title4 {
        @extend %title;
      }
    }
    .work5 {
      @extend %work;
      background-image: url('/assets/portfolio/work5.jpg');

      .title5 {
        @extend %title;
      }
    }
    .work6 {
      @extend %work;
      background-image: url('/assets/portfolio/work6.jpg');

      .title6 {
        @extend %title;
      }
    }
    .work7 {
      @extend %work;
      background-image: url('/assets/portfolio/work7.jpg');

      .title7 {
        @extend %title;
      }
    }
    .work8 {
      @extend %work;
      background-image: url('/assets/portfolio/work8.jpg');

      .title8 {
        @extend %title;
      }
    }
  }
}
