//playground styles
@use 'playground';

// reusable variables
@use 'base';

// homepage styles
@use 'hero';
@use 'about';
@use 'services';
@use 'activity';
@use 'portfolio';
@use 'contact';

//Roboto font import
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

// Global Reset styles
* {
  font-family: base.$serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
